{{ if eq .chezmoi.os "darwin" }}
# darwin
path+=('/Users/jerry/.local/bin')
path+=('/Users/jerry/bin')
path+=('/opt/homebrew/Cellar/todoist/0.20.0/bin')

source ${HOME}/.ghcup/env

if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

  autoload -Uz compinit
  compinit
fi

# from https://github.com/Aloxaf/fzf-tab
# NOTE: fzf-tab needs to be loaded after compinit, but before plugins which will wrap widgets, such as zsh-autosuggestions or fast-syntax-highlighting!!
source /Users/jerry/Aloxaf/fzf-tab/fzf-tab.plugin.zsh

source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $(brew --prefix)/share/zsh-vi-mode/zsh-vi-mode.plugin.zsh

# so that zsh-vi-mode does not overwrite fzf keybindings
zvm_after_init_commands+=('[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh')

# so that zsh-vi-mode does not overwrite vi-forward-word
zvm_after_lazy_keybindings ()
{
  bindkey '^w' vi-forward-word
}

{{ else if eq .chezmoi.os "linux" }}
# linux
path+=('/home/jerry/.local/bin')

{{ else }}
# other operating system
{{ end }}

setopt share_history
setopt hist_ignore_space

bindkey -v

export EDITOR="nvim"

export MANPAGER="sh -c 'col -bx | bat -l man -p'"

export NNN_TRASH=1
export NNN_OPTS="HdaA"
export NNN_FIFO="/tmp/nnn.fifo"
export NNN_PLUG='p:preview-tui;a:play-sample-hover;s:play-sample'

alias lg="lazygit"

eval "$(zoxide init zsh)"

export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

eval "$(starship init zsh)"

# for kitty tab titles
precmd () {print -Pn "\e]0;%1d\a"}

n ()
{
    # Block nesting of nnn in subshells
    [ "${NNNLVL:-0}" -eq 0 ] || {
        echo "nnn is already running"
        return
    }

    # The behaviour is set to cd on quit (nnn checks if NNN_TMPFILE is set)
    # If NNN_TMPFILE is set to a custom path, it must be exported for nnn to
    # see. To cd on quit only on ^G, remove the "export" and make sure not to
    # use a custom path, i.e. set NNN_TMPFILE *exactly* as follows:
    #      NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"
    export NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"

    # Unmask ^Q (, ^V etc.) (if required, see `stty -a`) to Quit nnn
    # stty start undef
    # stty stop undef
    # stty lwrap undef
    # stty lnext undef

    # The command builtin allows one to alias nnn to n, if desired, without
    # making an infinitely recursive alias
    command nnn "$@"

    [ ! -f "$NNN_TMPFILE" ] || {
        . "$NNN_TMPFILE"
        rm -f "$NNN_TMPFILE" > /dev/null
    }
}
